[Desktop Entry]
Type=Application
Name=Rhythmbox Alarm
GenericName=Rhythmbox Alarm
Comment=A simple set of alarms that play music.
Icon=rhythmbox
Terminal=false
